@import '../../Style/Mixins';

.block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    @include fluid(margin-bottom, 70px, 170px);
}
.item {
    background: $purpleGradient;
    margin-right: 5%;
    width: 30%;
    border-radius: 45px;
    @include fluid(padding-top, 40px, 80px);
    @include fluid(padding-bottom, 40px, 80px);
    @include fluid(padding-left, 10px, 20px);
    @include fluid(padding-right, 10px, 20px);
    @include fluid(margin-bottom, 15px, 30px);
    &:nth-child(3n) {
        margin-right: 0;
    }
}
.title {
    @include fluid(font-size, 18px, 24px);
    @include fluid(margin-bottom, 15px, 25px);
}
.text {
    @include fluid(font-size, 14px, 16px);
}
.parallax {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    top: -30%;
    transform: translate(-50%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(188, 47, 255, 0.6) 0%, rgba(47, 105, 255, 0) 100%);
    width: 100%;
    @include fluid(height, 500px, 1000px);
}
