@import '../../../Style/Mixins.scss';

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.item {
    width: 45%;
}
.bottom {
    border-top: 1px solid #424242;
    @include fluid(padding-top, 15px, 30px);
    @include fluid(margin-top, 10px, 20px);
}
