@import '../../../../Style/Mixins.scss';

.container {
    @include container;
    @include fluid(padding-bottom, 70px, 170px);
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper {
    width: 50%;
}
.block {
    background: rgba(188, 47, 255, 0.5);
    border-radius: 45px;
    @include fluid(padding-top, 25px, 50px);
    @include fluid(padding-bottom, 25px, 50px);
    @include fluid(padding-left, 30px, 60px);
    @include fluid(padding-right, 30px, 60px);
    @include fluid(min-height, 175px, 275px);
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    align-items: center;
    @include fluid(margin-bottom, 15px, 25px);
}
.title {
    font-weight: 700;
    @include fluid(font-size, 18px, 24px);
}
.text {
    flex-grow: 1;
    @include fluid(font-size, 14px, 18px);
}
.img {
    @include fluid(height, 40px, 52px);
    @include fluid(width, 40px, 52px);
    border-radius: 50%;
    background: rgba(188, 47, 255, 1);
    @include fluid(margin-right, 8px, 12px);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        object-fit: contain;
        @include fluid(width, 20px, 25px);
        @include fluid(height, 20px, 25px);
    }
}
.animate {
    background: url('../../../../Images/content/security.svg') no-repeat;
    background-size: contain;
    width: 469px;
    height: 509px;
    position: relative;
}
.animateImg {
    position: absolute;
    left: 31%;
    top: 22%;
    transform: translate(-50%, -50%);
}
.fraction {
    bottom: 0 !important;
    transform: translateX(0) !important;
    text-align: left;
}
.navigation {
    @include fluid(margin-top, 30px, 60px);
    position: relative;
    z-index: 20;
    width: 10%;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

.next {
    @include fluid(width, 18px, 22px);
    @include fluid(height, 10px, 14px);
    cursor: pointer;
    transition: 0.38s ease-in-out;
    opacity: 0.5;
    background: url('../../../../Images/icon/sec-next.svg') no-repeat;
    &:hover {
        opacity: 1;
    }
}
.prev {
    @include fluid(width, 18px, 22px);
    @include fluid(height, 10px, 14px);
    cursor: pointer;
    transition: 0.38s ease-in-out;
    opacity: 0.5;
    background: url('../../../../Images/icon/sec-prev.svg') no-repeat;
    &:hover {
        opacity: 1;
    }
}
.bullet {
    border: 1px solid #6d6d6d;
    background: #6d6d6d;
}
@media screen and (max-width: 992px) {
    .subtitle {
        width: 100% !important;
    }
    .flex {
        flex-direction: column;
    }
    .wrapper {
        width: 100%;
    }
}
