@import '../../../Style/Mixins';

.container {
    @include container;
    @include fluid(margin-bottom, 70px, 170px);
    @include fluid(padding-top, 30px, 60px);
    @include fluid(padding-bottom, 30px, 60px);
    @include fluid(padding-left, 50px, 100px);
    @include fluid(padding-right, 50px, 100px);
    @include neumorphism;
    display: flex;
    position: relative;
}
.animate {
    position: relative;
}
.img {
    position: relative;
    z-index: 3;
}
.card {
    position: absolute;
    right: 0;
    top: 0;
    animation: right 5s infinite ease-in-out;
}
@keyframes right {
    0% {
        right: 0;
    }
    50% {
        right: 60px;
        top: 10px;
    }
    100% {
        right: 0;
    }
}
.block {
    width: 60%;
}
.id {
    background: $purpleGradient;
    @include fluid(height, 40px, 66px);
    @include fluid(width, 40px, 66px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fluid(margin-right, 15px, 30px);
    flex-shrink: 0;
}
.wrapper {
    display: flex;
    align-items: center;
}
.item {
    @include fluid(margin-bottom, 25px, 50px);
}
.text {
    @include fluid(font-size, 16px, 18px);
}
.parallax {
    content: '';
    position: absolute;
    z-index: -1;
    right: 50%;
    top: 0;
    // transform: translate(-50%);
    background: radial-gradient(50% 50% at 50% 50%, rgba(47, 105, 255, 0.8) 0%, rgba(47, 105, 255, 0) 100%);
    @include fluid(width, 1000px, 1000px);
    @include fluid(height, 1000px, 1000px);
}
