@import "../../../Style/Mixins.scss";

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include fluid(padding-top, 20px, 40px);
  @include fluid(margin-bottom, 30px, 60px);
}
.item {
  width: 45%;
}
.title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  transition: 0.38s ease-in-out;
}
.subtitle {
  font-family: "Cera Pro";
  font-size: 12px;
  color: #fff;
  margin-bottom: 15px;
  transition: 0.38s ease-in-out;
}
.content {
  background: rgba(91, 91, 91, 0.2);
  border: 1px solid #545454;
  backdrop-filter: blur(100px);
  border-radius: 15px;
  @include fluid(padding, 20px, 40px);
}
.line {
  @include fluid(margin-bottom, 10px, 20px);
}
.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 76px;
  background: #242424;
  transition: 0.38s ease-in-out;
  cursor: pointer;
}
.labelText {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  transition: 0.38s ease-in-out;
}
.labelItem {
  display: flex;
  align-items: center;
  background: #2d2d2d;
  border-radius: 76px;
  width: 80%;
  padding: 5px;
  transition: 0.38s ease-in-out;
}
.input {
  display: none;
}
.labelCheck {
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.38s ease-in-out;
  background: #808080;
  margin-right: 30px;
  box-shadow: 0px 0px 0px 3px rgba(158, 158, 158, 0.3);
}
.check {
  background: linear-gradient(122.76deg, #40ffe8 0%, #d5ff2f 92.55%);
  box-shadow: 0px 0px 0px 3px rgba(213, 255, 47, 0.3);
}
.labelImg {
  width: 22px;
  height: 22px;
  object-fit: contain;
  margin-right: 20px;
}
