@import "../../../Style/Mixins.scss";

.container {
  @include fluid(margin-bottom, 5px, 10px);
}
.select {
  width: 100%;
  border-radius: 5px;
}
.option {
  width: 100%;
}
.item {
  display: flex;
  align-items: center;
  img {
    object-fit: cover;
    border-radius: 50%;
    @include fluid(height, 18px, 22px);
    @include fluid(width, 18px, 22px);
    @include fluid(margin-right, 5px, 10px);
  }
}
.dropdown {
  @include fluid(padding-left, 2px, 5px);
  @include fluid(padding-right, 2px, 5px);
}
