@import "../../../Style/Mixins";

.subtitle {
  font-family: "Days One Regular";
  width: 100%;
  color: #fff;
  @include fluid(font-size, 24px, 32px);
  @include fluid(margin-bottom, 20px, 30px);
  span {
    @include textGradient;
  }
}
@media screen and(max-width:992px) {
  .subtitle {
    width: 100%;
    text-align: center;
  }
}
