@import "../../../Style/Mixins.scss";

.container {
  @include container;
  display: flex;
  justify-content: space-between;
  @include fluid(padding-top, 130px, 170px);
}
.sidebar {
  width: 30%;
}
.wrapperMax {
  width: 68%;
}
