@import '../../Style/Mixins';

.center {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: $purpleGradient;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shadow 2s infinite linear;
}

.atom {
    width: 42px;
    height: 42px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 0px rgba(47, 105, 255, 1);
}
@keyframes shadow {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(188, 47, 255, 1);
    }
    50% {
        box-shadow: 0px 0px 50px 0px rgba(188, 47, 255, 1);
    }
    100% {
        box-shadow: 0px 0px 0px 0px rgba(188, 47, 255, 1);
    }
}
