@import '../../Style/Mixins';

.container {
    @include container;
    width: 70%;
    @include fluid(padding-top, 200px, 400px);
    transition: 0.38s ease-in-out;
}

.block {
    padding-left: 50%;
    margin-left: auto;
    position: relative;
    @include fluid(margin-bottom, 70px, 170px);
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: -30%;
        transform: translate(-50%);
        background: radial-gradient(50% 50% at 50% 50%, rgba(47, 105, 255, 0.3) 0%, rgba(47, 105, 255, 0) 100%);
        width: 100%;
        @include fluid(height, 500px, 1000px);
    }
}
