@import '../../../Style/Mixins.scss';

.container {
    @include fluid(margin-bottom, 30px, 60px);
    overflow: hidden;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.item {
    @include fluid(padding, 3px, 6px);
    border: 1px solid #2f69ff;
    border-radius: 13px;
    width: 182px;
    height: 182px;
    transition: 0.38s ease-in-out;
    &:hover {
        margin-top: -5px;
        .inner {
            box-shadow: 0px 5px 12px 8px rgba(175, 175, 175, 0.25);
        }
    }
}

.inner {
    transition: 0.38s ease-in-out;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    @include fluid(padding, 10px, 20px);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    @include fluid(height, 130px, 170px);
    box-shadow: 0px 5px 12px 8px rgba(175, 175, 175, 0);
    img {
        position: absolute;
        object-fit: cover;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    p {
        @include fluid(font-size, 12px, 14px);
    }
}

// .bullet {
//     border: 1px solid #6d6d6d;
//     background: #6d6d6d;
// }
.block {
    position: relative;
}
.navigation {
    width: 10%;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
}
.prev {
    border: none;
    outline: none;
    @include fluid(width, 18px, 22px);
    @include fluid(height, 10px, 14px);
    cursor: pointer;
    transition: 0.38s ease-in-out;
    opacity: 0.5;
    background: url('../../../Images/icon/sec-prev.svg') no-repeat;
    &:hover {
        opacity: 1;
    }
}
.next {
    border: none;
    outline: none;
    @include fluid(width, 18px, 22px);
    @include fluid(height, 10px, 14px);
    cursor: pointer;
    transition: 0.38s ease-in-out;
    opacity: 0.5;
    top: 0;
    right: 0;
    background: url('../../../Images/icon/sec-next.svg') no-repeat;
    &:hover {
        opacity: 1;
    }
}
