@import '../Style/Mixins';
@import '../fonts/cera-pro/stylesheet.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cera pro';
  background: #0d0d0d;
  color: #333333;
  height: 100%;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.container {
  @include container;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
