@import '../Style/Mixins';
@import '../fonts/cera-pro/stylesheet.css';
@import '../fonts/style.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cera pro';
  background: #0d0d0d;
  color: #fff;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

// li {
//   list-style: none;
// }
.main {
  @include fluid(padding-top, 100px, 130px);
  overflow-x: hidden;
  transition: 0.38s ease-in-out;
}
.container {
  @include container;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.content {
  @include fluid(margin-top, 50px, 150px);
}
.sec {
  @include fluid(width, 18px, 22px);
  @include fluid(height, 10px, 14px);
  cursor: pointer;
  transition: 0.38s ease-in-out;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.sec-next {
  background: url('../Images/icon/sec-next.svg') no-repeat;
}
.sec-prev {
  background: url('../Images/icon/sec-prev.svg') no-repeat;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 0 !important;
  bottom: 0 !important;
  transform: translateX(0) !important;
  text-align: left;
}
.swiper-pagination-bullet {
  border: 1px solid #6d6d6d;
}
.swiper-pagination-bullet-active {
}
.swiper-pagination-bullet {
  background: #6d6d6d !important;
}
