@import '../Style/Mixins';
@import '../fonts/cera-pro/stylesheet.css';
@import '../fonts/style.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cera pro';
  background: #0d0d0d;
  color: #fff;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.main {
  @include fluid(padding-top, 200px, 400px);
  transition: 0.38s ease-in-out;
}
.container {
  @include container;
}
.bigContainer {
  @include container;
  max-width: 1430px;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.content {
  @include fluid(margin-top, 50px, 150px);
}
.text {
  color: #fff;
  @include fluid(font-size, 14px, 16px);
  @include fluid(margin-bottom, 40px, 80px);
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include fluid(margin-bottom, 50px, 100px);
  &:last-child {
    margin-bottom: 0;
  }
  .text {
    width: 70%;
  }
}
