@import '../../../Style/Mixins.scss';

.container {
    @include fluid(margin-bottom, 30px, 60px);
}
.block {
    @include neumorphism;
    @include fluid(padding-top, 10px, 20px);
    @include fluid(padding-bottom, 10px, 20px);
    @include fluid(padding-left, 25px, 50px);
    @include fluid(padding-right, 25px, 50px);
    border-radius: 15px;
}
.list {
    display: flex;
    border: 1px solid #6d6d6d;
    width: fit-content;
    border-radius: 1000px;
    @include fluid(padding-left, 10px, 20px);
    @include fluid(padding-right, 10px, 20px);
    @include fluid(padding-top, 5px, 10px);
    @include fluid(padding-bottom, 5px, 10px);
}
.tab {
    list-style: none;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    outline: none;
    @include fluid(padding-left, 15px, 30px);
    @include fluid(padding-right, 15px, 30px);
    @include fluid(padding-top, 3px, 5px);
    @include fluid(padding-bottom, 3px, 5px);
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        transition: 0.38s linear;
        height: 100%;
        width: 0;
        opacity: 0;
        background: $purpleGradient;
    }
    p {
        @include fluid(font-size, 10px, 12px);
        color: #6d6d6d;
        transition: 0.38s ease-in-out;
        position: relative;
        z-index: 1;
    }
}
.activeTab {
    &::before {
        opacity: 1;
        width: 100%;
    }
    p {
        color: #ffffff;
    }
}
.chart {
    width: 340px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chartInner {
    position: relative;
    width: 40%;
    height: 500px;
    overflow: visible;
}
.flex {
    display: flex;
    align-items: center;
}
.items {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
.item {
    display: flex;
    align-items: center;
    @include fluid(padding, 6px, 8px);
    background: #2d2d2d;
    border-radius: 10px;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
