.items {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chartInner {
  flex-grow: 1;
  position: relative;
  width: 40%;
}
