@import '../../Style/Mixins';

.block {
    display: flex;
    align-items: center;
    img {
        object-fit: cover;
        @include fluid(margin-right, 10px, 15px);
        @include fluid(width, 28px, 56px);
        @include fluid(height, 28px, 56px);
        border-radius: 50%;
    }
    p {
        margin-bottom: 5px;
        @include fluid(font-size, 14px, 16px);
    }
    button {
        border: none;
        background: none;
        cursor: pointer;
        color: #6d6d6d;
        transition: 0.38s ease-in-out;
        @include fluid(font-size, 12px, 14px);
        &:hover {
            color: $green;
        }
    }
}
