@import '../../Style/Mixins';

.center {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: url('../../Images/content/zamok.svg') no-repeat;
    border: 1px solid rgba(0, 192, 169, 0.5);
    background-size: contain;
    animation: shadow 2s infinite linear;
    cursor: pointer;
}

.atom {
    width: 42px;
    height: 42px;
    object-fit: contain;
    border-radius: 50%;
    background: rgba(188, 47, 255, 0.5);
    border: 1px solid $purple;
}
@keyframes shadow {
    0% {
        box-shadow: 0px 0px 8px 0px rgba(0, 192, 169, 0.5);
    }
    50% {
        box-shadow: 0px 0px 50px 0px rgba(0, 192, 169, 1);
    }
    100% {
        box-shadow: 0px 0px 8px 0px rgba(0, 192, 169, 0.5);
    }
}
