@import '../../Style/Mixins.scss';

.iconSocial{
    @include fluid(width,15px,20px);
    @include fluid(height,15px,20px);
    object-fit: contain;
    transition: .38s ease-in-out;
   
}
.icon{
    @include fluid(margin-right,7px,14px);
    display: flex;
    align-items: center;
}